<!-- lista-videojuegos.component.html -->
<!--Recupera el componente de la cabecera-->
<app-header></app-header>

<!--Recupera el componente de la barra de navegación-->
<app-navBar></app-navBar>
<div>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Título</th>
      <th>Valoración</th>
    </tr>
  </thead>
  <tbody>
    <!--Generamos la tabla de forma dinámica, iterando en el array que contiene los juegos-->
    <tr *ngFor="let videojuego of videojuegos" [routerLink]="'/videojuego/' + videojuego.id">
      <td>{{ videojuego.id }}</td>
      <td>{{ videojuego.titulo }}</td>
      <td>{{ videojuego.valoracion }}</td>
    </tr>

   
  </tbody>

</table>
</div>
<!--Recupera el componente del pie de página-->
 <app-pie-pag></app-pie-pag> 

 

