<!-- detalle-videojuego.component.html -->
<h2 style="color: #333;">Detalle del Videojuego</h2>

<div *ngIf="videojuego" style="margin-top: 20px; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
  <p><strong>ID:</strong> {{ videojuego.id }}</p>
  <p><strong>Título:</strong> {{ videojuego.titulo }}</p>
  <p><strong>Compañía:</strong> {{ videojuego['compañia'] }}</p>
  <p><strong>Valoración:</strong> {{ videojuego['valoracion'] }}</p>
  <p><strong>Imagen:</strong></p>
  <img [src]="videojuego.imagen" alt="Imagen del videojuego" style="max-width: 100%; border-radius: 5px; margin-top: 10px;">
</div>

<button [routerLink]="['/']" style="margin-top: 20px; padding: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer;">Volver</button>





