<body>

  <header>
    <app-header></app-header>
  </header>
  
  <nav>
    <app-navBar></app-navBar>
  </nav>

  <h2>Nuestra historia</h2>
  <p>Fundada en 1992, VideoGameZone nació de la pasión compartida por los videojuegos. Nos dimos cuenta de que
    no había un lugar que realmente encapsulara la magia y la diversidad del mundo de los videojuegos, y así surgió la idea de crear una plataforma 
    que fuera más que una simple tienda; un espacio donde los jugadores pudieran sumergirse en la cultura gaming.</p>

    <h2>Nuestro compromiso</h2>
    <p>En VideoGameZone, nos esforzamos por ser más que un lugar para comprar videojuegos. Nos dedicamos a construir una comunidad vibrante y amigable, 
      donde los jugadores de todas las edades y niveles de habilidad puedan conectarse, compartir experiencias y encontrar el 
      próximo gran título que los atrape. Nuestro compromiso con la excelencia se refleja en cada aspecto de nuestro servicio, desde la selección de productos hasta 
      la atención al cliente.</p>

      <h2>Lo que nos distingue</h2>
      <ol>
        <li>
          Variedad sin igual: Ofrecemos una amplia gama de títulos que abarcan todos los géneros y plataformas. Desde los clásicos atemporales hasta las últimas novedades, 
          estamos comprometidos a tener algo para cada tipo de jugador.
        </li>
        <li>Precios Competitivos: Creemos que la pasión por los videojuegos no debería romper el banco. Trabajamos arduamente para ofrecer precios competitivos y promociones regulares para 
          que nuestros clientes puedan disfrutar al máximo de su presupuesto.</li>
       <li>Comunidad Activa: Más que una tienda, VideoGameZone es un espacio de encuentro para la comunidad gaming. Organizamos eventos, torneos y actividades para que los jugadores 
        puedan conectarse y compartir su amor por los videojuegos.</li> 
        <li>Experiencia del Cliente: La satisfacción de nuestros clientes es nuestra máxima prioridad. Desde la navegación fácil en nuestro sitio web hasta un servicio de atención al cliente 
          receptivo, nos esforzamos por brindar una experiencia de compra sin complicaciones.</li>
      </ol>

      <footer>
        <app-pie-pag></app-pie-pag>
      
      </footer>


