body{
    display:flex;
    justify-content: center;   
    border-top: 1px solid blueviolet;
    width: 100%;    
    }

.p1, .p2, .p3{ 
    font-weight: bold;
    padding: 1%;
    font-size: 16px;
}

a{
    text-decoration: none;
    color: black;
}