body{
    display: flex;
    flex-direction: column;
    background-color: rgb(248, 246, 243);
    align-items: center;
    margin-bottom: 30px;
    justify-content: center; 
    padding-left: 20%;  
    padding-right: 20%;
    }

    p, ol{
        font-size: 20px;
        font-family: 'Lucida Sans';
    }

    h2{
        font-size: 32px;
        font-family: 'Lucida Sans';
    }

    footer{
        width: 100%;
        justify-content: center;
    }

    header{
        width: 100%;
        border-bottom: 1px solid rgb(58, 14, 100);
       
    }

    nav{
        width: 100%;
        margin-top: 20px;
        border-bottom: 1px solid rgb(58, 14, 100);
    }
