<body>

    <header>
        <app-cabecera></app-cabecera>
    </header>

    <nav>
        <app-barra-navegacion></app-barra-navegacion>>
    </nav>
    <h1>Listado de videojuegos</h1>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Valoración</th>
                <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let j of lista">
                <td>{{j.id}}</td>
                <td>{{j.titulo}}</td>
                <td>{{j.rating}}</td>
                <td><button (click)="navegar(j)">Ver</button></td>
            </tr>
        </tbody>

    </table>
    <footer>
        <app-pie-de-pagina></app-pie-de-pagina>>
    </footer>
</body>