/* Estilos generales para el cuerpo y el encabezado */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

/* Estilos para la barra de navegación */
nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: #555;
}

/* Estilos para el área de enrutamiento (router-outlet) */
router-outlet {
    margin: 20px;
}
